{
  "ConnectionStrings": {
    "Default": "Host=localhost;Port=5432;Database=spotflix;Username=postgres;Password=SUA_SENHA"
  },
  "Jwt": {
    "Key": "CHAVE_SECRETA_COM_NO_MINIMO_32_CARACTERES",
    "Issuer": "Spotflix",
    "Audience": "SpotflixClients",
    "AccessTokenMinutes": 15,
    "RefreshTokenDays": 7
  },
  "Seed": {
    "AdminEmail": "admin@spotflix.local",
    "AdminPassword": "SUA_SENHA_ADMIN"
  },
  "Smtp": {
    "Host": "localhost",
    "Port": 25,
    "FromEmail": "noreply@spotflix.local",
    "FromName": "Spotflix"
  }
}
